@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.prdDetailsSection {
    width: 100%;
    height: calc(100vh - 175px);
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.image {
    height: 350px;
    width: 250px;
    padding: 40px;
    background-color: white;
    border: 1px solid #bbbbbb;
}

.image img {
    height: 100%;
}

.details {
    width: 60%;
}

.details h4 {
    color: #777777;
    margin-bottom: 20px;
}

.details h3 {
    color: #d3213b;
    margin: 20px 0;
}



.addToCart,
.goToCart {
    padding: 10px 25px;
    border: 1px solid #d3213b;
    font-weight: 500;
    border-radius: 20px;
    font-size: 16px;
}

.addToCart {
    background-color: #d3213b;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.goToCart {
    background-color: white;
    border: 1px solid #d3213b;
    color: #d3213b;
    margin: 20px 0 0 10px;
}



.deleteBtn {
    padding: 8px 15px;
    background-color: #d3213b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; 
}

.deleteBtn:hover {
    background-color: #b31934;
}


